# Build y resultados
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.nupkg
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
.vs/

# Dependencias
.nuget/
packages/
**/[Pp]ackages/*

# Archivos de IDE
.idea/
.vscode/
*.swp
*.sublime-workspace

# Docker
[Dd]ockerfile
docker-compose.*
.dockerignore

# Misceláneos
*.log
*.cache
*.pid
*.DS_Store
*.bak
*.tmp
*.pyc
*.local
appsettings.Development.json
appsettings.Production.json
tsconfig.tsbuildinfo
publish

# Dependencias
node_modules/
.pnpm/
dist/
dist-ssr/
Web.API/wwwroot/

# Entorno
.env.Production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
*.pem
*.key
*.cert

# Archivos generados por TypeScript/Vite
dist/
*.js
*.d.ts
**/*.js
**/*.js.map
!src/**/*.ts
!src/**/*.tsx
/backend/Web.API/wwwroot/documents/6432b6d1-5bbb-4768-ae40-03345af1b87a/f4adf99c-2edd-44ea-8b77-462c0520ccd9.pdf
